<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
  <!-- Custom css -->
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- <link rel="stylesheet" href="F:\College Management\college management backend\collegehacks\static\image" /> -->


  <!-- <link rel="stylesheet" href="general.scss">
  <script src="https://cdn.jsdelivr.net/npm/less@3.13" ></script> -->
  <title>Study Hacks</title>
</head>

<body>
  <div class="container">
    <!-- navvbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="image/logo.png" alt="" width="30" height="30" class="d-inline-block align-top" />
          <b>Study Hacks</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#feature">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <span class="navbar-text">
            <button type="button" class="btn th-btn-2">Sign up</button>
          </span>
        </div>
      </div>
    </nav>

    <!-- navbar end  -->

    <!-- tagline start  -->
    <div class="row align-items-center pt-5 mb-5 th-reverse">
      <div class="col-md-6 col-sm-6 pt-5 pr-5">
        <h1>Find your <b>Instituation</b> online.</h1>
        <p class="pt-4 pb-3 th-text1">
          Get notes, E-books, journals, latest exam papers and always be
          updated with the events around you on your finger tips.
        </p>
        <div>
          <button type="button" class="btn th-btn mx-auto py-3">
            <b>Started</b>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img class="w-100" src="image/top-image.png" alt="" />
      </div>
    </div>

    <!-- box start  -->
    <div class="row py-4 py-5" style="
          box-shadow: 0px 14px 30px 0px rgba(224, 224, 224, 0.47);
          border-radius: 10px;
        ">
      <div class="col-md-4 mx-auto">
        <div class="row mx-auto py-4 px-4 align-items-center">

          <div class="col-md-6 px-4 d-flex justify-content-center">
            <div class="p-3 text-center " style="width: 70px; height: 70px; border-radius: 50px;background: #ffecec;">
              <img src="image/university.png" class="mx-auto" alt="" style="width: 30px; height: 30px" />
            </div>
          </div>
          <div class="col-md-6 th-text1" style="border-right: 1px solid #d8d8d8">
            <div class="">
            <div style="font-weight: 1000; font-size: 23px;">500+</div>
            <div>Users</div>
          </div></div>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <div class="row mx-auto py-4 px-4 align-items-center">

          <div class="col-md-6 px-4 d-flex justify-content-center">
            <div class="p-3 text-center " style="width: 70px; height: 70px; border-radius: 50px;background: #ffecec;">
              <img src="image/university.png" class="mx-auto" alt="" style="width: 30px; height: 30px" />
            </div>
          </div>
          <div class="col-md-6 th-text1" style="border-right: 1px solid #d8d8d8">
            <div class="">
            <div><b>zsv</b></div>
            <div>fgf</div>
          </div></div>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
        <div class="row mx-auto py-4 px-4 align-items-center">

          <div class="col-md-6 px-4 d-flex justify-content-center">
            <div class="p-3 text-center " style="width: 70px; height: 70px; border-radius: 50px;background: #ffecec;">
              <img src="image/university.png" class="mx-auto" alt="" style="width: 30px; height: 30px" />
            </div>
          </div>
          <div class="col-md-6 th-text1">
            <div class="">
            <div><b>zsv</b></div>
            <div>fgf</div>
          </div></div>
        </div>
      </div>
    </div>
    <!-- box end      -->

    <!-- intro card  -->
    <div class="row align-items-center py-5 my-4" id="feature">
      <div class="col-md-6">
        <img class="w-100" src="image/2nd.png" alt="" />
      </div>
      <div class="col-md-6 align-items-center">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
          possimus quas suscipit aut deserunt error praesentium necessitatibus
          facere architecto placeat!
        </p>
        <div class="row align-items-center pt-3">
          <div class="col-md-1">
            <img src="image/tick.png" alt="" height="20px" width="20px" />
          </div>
          <div class="col-md-11 align-items-center">
            <p>Lorem ipsum dolor.</p>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-1">
            <img src="image/tick.png" alt="" height="20px" width="20px" />
          </div>
          <div class="col-md-11">
            <p>Lorem ipsum dolor.</p>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-1">
            <img src="image/tick.png" alt="" height="20px" width="20px" />
          </div>
          <div class="col-md-11">
            <p>Lorem ipsum dolor.</p>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-1">
            <img src="image/tick.png" alt="" height="20px" width="20px" />
          </div>
          <div class="col-md-11">
            <p>Lorem ipsum dolor.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- intro card end  -->
  </div>
  <!-- search box  -->
  <div style="background-color: #f6f6f6">
    <div class="container">
      <div class="row align-items-center p-5">
        <div class="col-md-6">
          <div class="align-items-center">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Find your Instituation" aria-label="Search" />
              <button class="btn th-btn" type="submit">Search</button>
            </form>
          </div>
        </div>
        <div class="col-md-6" id="search">
          <div class="text-center">
            <img class="w-100" src="image/search.png" alt="" height="auto" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonial -->
  <div  class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h2 class="text-center">Trusted by Thousands of Happy Students</h2>
        </div>
        <p class="text-center pt-2 pb-5">
          These are the stories of our Students who have joined us with great
          <br />
          pleasure when using this crazy feature.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="max-width: 540px; border-radius: 10px;">
            <div class="row align-items-center">
              <div class="col-md-4 p-4">
                <img src="image/man-user.png" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-title" style="color: #47474756">
                    Card title
                  </h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, at magni? Enim, quae. Cumque, maxime.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="max-width: 540px; border-radius: 10px;">
            <div class="row align-items-center">
              <div class="col-md-4 p-4">
                <img src="image/man-user.png" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-title" style="color: #47474756">
                    Card title
                  </h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, at magni? Enim, quae. Cumque, maxime.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="max-width: 540px; border-radius: 10px;">
            <div class="row align-items-center">
              <div class="col-md-4 p-4">
                <img src="image/man-user.png" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-title" style="color: #47474756">
                    Card title
                  </h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, at magni? Enim, quae. Cumque, maxime.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer  -->
  <div class="container">
    <div class="row">
      <div col-md-4>
        <!-- <img src="image/logo.png" alt="" /> -->
      </div>
    </div>
  </div>

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src=""></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>